/****** General ***********/
* {
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
 
  }
  

  :root {
    --main-color: #0065fc;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #deebff;
    --grey: #d9d9d9;
  }
  
  .fa-solid {
    color: var(--main-color);
  }
  
  body {
    display: flex;
    justify-content: center;
  }
  
  .main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  .section-title {
    margin: 0;
    font-size: 22px;
  }
  
  .card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  }
  
  .card img {
    object-fit: cover;
  }
  
  .card-title {
    font-size: 16px;
  }
  
  .euro {
    font-weight: 700;
  }
  
  .neutral-star {
    color: var(--main-bg-color);
  }
  
  li {
    list-style: none;
  }
  
  /****** Header ***********/
  
  .site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 114px;
  }
  
  .logo {
    width: 61px;
    height: 19px;
    
  }
  
  .site-menu ul {
    display: flex;
    height: 114px;
  }
  
  .site-menu li {
    margin: 0 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .site-menu li:hover {
    box-shadow: inset 0 2px var(--main-color);
  }
  
  .site-menu a {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: black;
  }
  
  .site-menu li:first-child a {
    color: var(--main-color);
  }

  /*******search-location*********/

  .search-location{
    height: 281px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    margin-bottom:30px;
    

  }
  .search-location h1{
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 10px;
  }

  .search-location p{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
  }

  /*search form*/

  .search-form{
    height: 48px;
    width: 377px;
    border: 1px solid var(--main-bg-color);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    
  }

  .fa-search{
    display: none;
  }

 .search-form .fa-location-dot{
    padding: 15px 18px 15px 18px;
    border-radius: 15px 0px 0px 15px;
    background-color: var(--main-bg-color);
    color: black;
  }

  .search-form input{
    border: 0;
    outline: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    color: black;
    width: 147px;
    height: 21px;
  }

  .search-form button{
    width: 132px;
    height: 46px;
    border-radius: 0 15px 15px 0;
    background-color: var(--main-color);
    color: white;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    cursor:pointer;

  }

  /**Filters*/

  .filter{
    display: flex;
    align-items: center;
  }

    .filter-title{
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        margin-right: 10px;

    }

    .filter-btn{
        height: 50px;
        padding: 4px 19px 4px 19px;
        border-radius: 25px;
        border: 2px solid var(--grey);
        font-size: 17px;
        font-weight: 700;
        line-height: 20px;
        background-color: white;
        margin-top:10px;
        margin-bottom:10px;
    }

    .filter-btn i{
        font-size: 20px;
        margin-right: 10px;
        
    }

    .filter-btn:hover{
        background-color: var(--filter-bg-color);
    }

    /*info*/

    .info{
        display: flex;
        align-items: center; 
    }

    .info .fa-info{
        font-size: 12px;
    }

    .icon-circle{
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 1px solid var(--grey);
        display: flex;
        justify-content: center;
        align-items: center;  
        margin-right: 10px;
    }

  /****** Hebergements And Populaires ***********/
  .hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
  }
  
  .hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
  }
  
  /****** Hebergements ***********/
  .hebergements {
    width: 65%;
  }
  
  /****** Populaires ***********/
  .populaires {
    width: 32%;
  }
  
  .populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .populaires-cards .card {
    display: flex;
    margin-top: 33px;
  }
  
  .populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  .populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
  }
  
  .populaires-cards .card-subtitle {
    margin: 0;
  }
  
  .populaires-cards .card-rating {
    margin-bottom: 5px;
  }
  
  /* Le code ci-dessous correspond à la version responsive uniquement */
  
  /****** Media queries ***********/
  /* Medium devices (tablets, less/equal than 1024px) */
  @media (max-width: 1024px) {


    .search-location{
        height: 322px;
    }

    /*filters*/

    .filter{
        flex-direction: column;
        align-items: flex-start;
    }


    /**hebergement**/

    .hebergements-and-populaires {
      flex-direction: column;
    }
  
    .hebergements {
      width: 100%;
    }
  
    .populaires {
      width: 100%;
      margin-top: 50px;
    }
  
    .populaires-cards {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  
    .populaires-cards a {
      width: 30%;
    }
  
    .populaires-cards .card-title {
      font-size: 14px;
    }
  
    .populaires-cards .card-subtitle {
      font-size: 13px;
    }
  }
  
  /* Small devices (phones, less than 768px) */
  @media (max-width: 767.98px) {
  
      /*Header*/
    .main-container {
      padding: 0;
    }

    .logo{
        margin: 30px;
    }
  
    .site-header {
      flex-direction: column;
    }
  
    .site-menu {
      height: 35px;
      width: 100%;
    }
  
    .site-menu ul {
      height: 35px;
    }
  
    .site-menu li {
      margin: 0;
      width: 100%;
    }
  
    .site-menu li:hover {
      box-shadow: inset 0 -2px var(--main-color);
    }


    /**search location**/
    .search-location{
        padding: 0 20px 0 20px;
        height: 432px;
    }

    /**search form**/

   .search-form{
    width:335px
   }

    .search-form button {
        border-radius: 15px;
        width: 46px;
    }

    .search-form button span{
        display: none;
    }

    .search-form button .fa-search{
        display: block;
      }


      /*filter*/
      .filter-btn{
        width: 162px;
        font-size: 14px;
        line-height: 16px;
    }


  }
  


